@{
    ViewBag.Title = "Home Page";
}

<main>
    <div class="row">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Bienvenido! Presiona el cuadro para las opciones</a>
            </div>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="@Url.Action("RegistroMatricula", "Registro")">Registro Matrícula</a></li>
            </ul>
        </div>

</main>